body {
    font-family: $main-fon;
    color: $white-text-color;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        padding: ;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}